.pad0 {
    padding: 0px !important;
}

.pad10 {
    padding: 10px !important;
}

.pad20 {
    padding: 20px !important;
}

.marR0 {
    margin-right: 0px !important;
}

.marR10 {
    margin-right: 10px !important;
}

.marL0 {
    margin-left: 0px !important;
}

.marL5 {
    margin-left: 5px !important;
}

.marL10 {
    margin-left: 10px !important;
}

.marL20 {
    margin-left: 20px !important;
}

.marL30 {
    margin-left: 30px !important;
}

.marT1 {
    margin-top: 1px !important;
}

.marT5 {
    margin-top: 5px !important;
}

.marT10 {
    margin-top: 10px !important;
}

.marT20 {
    margin-top: 20px !important;
}

.marT30 {
    margin-top: 30px !important;
}

.marT40 {
    margin-top: 40px !important;
}

.marT50 {
    margin-top: 50px !important;
}

.marB0 {
    margin-bottom: 0px !important;
}

.marB20 {
    margin-bottom: 20px !important;
}

.marB30 {
    margin-bottom: 30px !important;
}

.padT10 {
    padding-top: 10px !important;
}

.padT25 {
    padding-top: 25px !important;
}

.padB10 {
    padding-bottom: 10px !important;
}

.padB20 {
    padding-bottom: 20px !important;
}

.padB30 {
    padding-bottom: 30px !important;
}

.padL40 {
    padding-left: 40px !important;
}

.padR40 {
    padding-right: 40px !important;
}

.padL45 {
    padding-left: 45px !important;
}

.align-left {
    text-align: left !important;
}

.table.no-border td {
    border: none !important;
}

.fontsize16 {
    font-size: 16px !important;
}

.fontsize25 {
    font-size: 25px !important;
}

.no-border {
    border: none !important;
}


legend {
    padding-bottom: 10px !important;
}