<%= nested_form_for([:admin, @order]) do |f| %>
    <%= render partial: "customer_data", locals: {f: f} %>
    <br>
    <%= render partial: "line_items", locals: {f: f} %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
