<table class="table">
  <thead>
  <tr>
    <th colspan="2" class="bold-black">Goulburn Broken Indigenous Seedbank</th>
    <th></th>
    <th class="bold-black">SUMMER</th>
    <th></th>
    <th></th>
    <th class="bold-black" colspan="3">Servicing the regions of</th>
  </tr>

  <tr>
    <th colspan="2">The University of Melbourne, Victoria, 3647</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;">
      <b class="bold-black">B</b> - Broadford <b class="bold-black">J</b> - Jamieson <b class="bold-black">MD</b> - Mt Disappointment <b class="bold-black">S-W</b> - Seymour - Whitehead Crk
    </th>
  </tr>

  <tr>
    <th colspan="2">Email: seedbank@gvce.com.au</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th colspan="2">Ph: (03) 5833 9279 Fax: (03) 5833 9201</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th colspan="4">Go to 'www.gbcma.vic.gov.au/revegetetion' for region maps</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <th class="bold-black" colspan="2">To place an order:</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th colspan="3">Start with <b class="bold-black">Lot No's</b> then <b class="bold-black">Qty (g)</b> Required of each Lot</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th colspan="2">Simply fax or email</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;">
      <b class="bold-black">EN</b> - Euroa - Nagambie <b class="bold-black">L</b> - Lurg <b class="bold-black">PW</b> - Plains West <b class="bold-black">W&C</b> - Warbys & Chesneys
    </th>
  </tr>

  <tr>
    <th class="bold-black" colspan="2">Prices do not include G S T</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;"><b class="bold-black">GG</b> - Ghin Ghin <b class="bold-black">M</b> - Mansfield <b class="bold-black">P</b> - Pyalong <b class="bold-black">Y</b> - Yea</th>
  </tr>


  <tr>
    <th colspan="2">Postage and handling charges are applicable</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th colspan="2">Once seed is dispached from the Seedbank</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;"><b class="bold-black">D</b> - Dookie <b class="bold-black">K-E</b> - Koonda - Earlston <b class="bold-black">PN</b> - Plains North <b class="bold-black">T</b> - Tatong</th>
  </tr>

  <tr>
    <th colspan="3">Ownership and responsibility passes to the purchaser</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th class="bold-black" colspan="2">Minimum $25 fee applies to all orders</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;"><b class="bold-black">A</b> - Alexandra <b class="bold-black">HC</b> - Hughes Creek <b class="bold-black">Ma</b> - Marysville <b class="bold-black">R</b> - Rushworth</th>
  </tr>

  <tr>
    <th colspan="2">No Grass Lot is guaranteed to be pure</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th style="font-size: 10px;"><b class="bold-black">C</b> - Costerfield <b class="bold-black">K-B</b> - Killawarra - Boweya <b class="bold-black">PE</b> - Plains East <b class="bold-black">S</b> - Strathbogies</th>
  </tr>
  </thead>
</table>



<style type="text/css">
  .bold-black {
      color: #2c3e50;
  }
</style>

