<%= content_for :content_block do %>
    <!-- Content Block
    ================================================== -->
    <section class="intro-block page-bg pic-bg-5">
      <!-- Overlay -->
      <div class="overlay">
        <!-- Container -->
        <div class="container">
          <!-- Text Slider -->
          <div class="text-slider no-js">
            <%= Snippet.for_identifier("who_we_are").first.try(:content).to_s.html_safe %>
          </div>
          <!-- /Text Slider -->
        </div>
        <!-- /Container -->
      </div>
      <!-- /Overlay -->
    </section>
    <!-- /Content Block -->
<% end %>
<!-- Row -->
<div class="row">

</div>
<!-- /Row-->
<h2>Catalogue</h2>

