<!DOCTYPE html>

<html lang="en">


<head id="CmsPageHead">
  <title>Seedbank</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="Article_gbcma_home_first" class="Site_gbcma Section1_gbcma_homepage_module Section2_gbcma_homepagec_content Container_gbcma_homepagec_main_content ParentContainer_gbcma_homepagec_content Path Template_">
<a name="TemplateTop"></a>

<form method="post" action="/" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'CaptchaSubmitButton')" id="CmsPage">
<div class="aspNetHidden">
  <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
  <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
  <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUENTM4MWRkGGFB7Bup6jjBqiI294+xFIy0XGYHdUeOziZNQW1bVaA=">
</div>

<script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['CmsPage'];
    if (!theForm) {
        theForm = document.CmsPage;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]>
</script>


<script src="/WebResource.axd?d=oPryWB3K9LPm_VfMfXwnyPqbr5e9RXiBxFMyNBteGXsGMJXMlcG27mzODhvpc-94hWbIyfKFvnNE9RKne7mLQP8FJ7jcDAO2a4A5uYuKTaU1&amp;t=635125332584635160" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=U5NsXhtVpUGBTo6SiZ4sVD87C5vB6m8jQN3KHYOtwaAKpwVF_ML2mUuFSWNEgEuH3U-LZj_EElgqM4F9Yii5nXpBXwMRNPODt7dHCJmeV7iwW2neCLQYWHS1-vfbYwVFJ62bZtC_QIQQ6KMeI692fMCEv_HUZvORg71hn37R_4ixdlM7BL8bIYSKZJZD6ec00&amp;t=47727e12" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
    //]]>
</script>

<script src="/ScriptResource.axd?d=IWDoyfwrgzbAFDRud3erBafjKlZwB3KHTvTGT8Ns_ddTyIH1rWoCJuGApfOEACzgKu8PAK24u9--yDX1Q6g0M2i-vRugaSIoQVxpTaExtgeYHajF_wRPZ1b9z6nYF3UigVct11J2QofQrZShCswtEojKsKNmsLZH76Iddc5tviU9QG7aHDUR94qAo2gKa8qs0&amp;t=47727e12" type="text/javascript"></script>




<div id="TemplateWrapper"><div id="TemplateWrapperInner">





<div id="Template"><div id="TemplateInner">


<div id="Header"><div id="HeaderInner">
<div id="HeaderContent"><div id="HeaderContentInner">
  <div id="Logo"><div id="LogoInner">
    <a href="/" title="Return to the home page"><img src="/assets/images/logo_gbcma_sm.gif" alt="GBCMA - Goulburn Broken CMA Logo" border="0"></a>
  </div></div>

</div></div>


<div id="SearchSite"><div id="SearchSiteInner">
  <div id="SearchForm">

    <label for="Keywords" id="LabelSearchForm">Search:</label>
    <input type="hidden" name="FormSubmitted" value="true">
    <input type="hidden" name="ctl00$TemplateContainer$TemplateHeader$SearchForm$SearchType" id="SearchType" value="And">
    <input name="ctl00$TemplateContainer$TemplateHeader$SearchForm$Keywords" type="text" id="Keywords" class="keywords" onclick="SearchKeywordsFieldOnClick(this);" onblur="SearchKeywordsFieldOnBlur(this);">
    <input type="submit" name="ctl00$TemplateContainer$TemplateHeader$SearchForm$SearchButton" value="Go"  id="SearchButton" class="submit">

  </div>
</div></div>
<script type="text/javascript">
    // Patch for OnLoad issue caused by runat="server" in ASP.Net
    if (typeof SearchKeywordsFieldOnLoad == "function") {
        SearchKeywordsFieldOnLoad(document.getElementById('TemplateContainer_TemplateHeader_SearchForm_Keywords'));
    }
</script>


<div id="AnchorMenu"><div id="AnchorMenuInner">

  <ul class="menuLinks">
    <li class=" currentBranch currentPage"><a href="/">Home</a></li>
    <li><a href="/publications">Resources &amp; Publications</a></li>
    <li><a href="/news_events">News &amp; Events</a></li>
    <li><a href="/links">Links</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>

</div></div>
<div id="MainMenu"><div id="MainMenuInner">

<ul id="MenuUL" class="level1">		<li id="mainMenu_gbcma_about_us" class="item1 odd level1">
  <a href="/about_us">About Us</a>
  <ul class="level2">			<li id="mainMenu_gbcma_mission_purpose" class="item1 odd level2">
    <a href="/about_us/mission_purpose">Vision and Purpose</a>

  </li>
    <li id="mainMenu_gbcma_gbcma_corporate_plan" class="item2 even level2">
      <a href="/about_us/gbcma_corporate_plan">GBCMA Corporate Plan</a>

    </li>
    <li id="mainMenu_gbcma_who_we_are_what_we_do" class="item3 odd level2">
      <a href="/about_us/who_we_are_what_we_do">Who We Are &amp; What We Do</a>
      <ul class="level3">			<li id="mainMenu_gbcma_gbcma_map" class="item1 odd level3">
        <a href="/about_us/who_we_are_what_we_do/gbcma_map">GBCMA Map</a>

      </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_statement_of_obligations" class="item4 even level2">
      <a href="/about_us/statement_of_obligations">Statement Of Obligations</a>

    </li>
    <li id="mainMenu_gbcma_regional_catchment_strategy" class="item5 odd level2">
      <a href="/about_us/regional_catchment_strategy">Regional Catchment Strategy</a>

    </li>
    <li id="mainMenu_gbcma_partnerships" class="item6 even level2">
      <a href="/about_us/partnerships">Partnerships</a>
      <ul class="level3">			<li id="mainMenu_gbcma_local_government" class="item1 even level3">
        <a href="/about_us/partnerships/local_government">Local Government</a>

      </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_the_board" class="item7 odd level2">
      <a href="/about_us/the_board">The Board</a>

    </li>
    <li id="mainMenu_gbcma_staff" class="item8 even level2">
      <a href="/about_us/staff">Staff</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_land_and_biodiversity" class="item2 even level1">
  <a href="/land_and_biodiversity">Land and Biodiversity</a>
  <ul class="level2">			<li id="mainMenu_gbcma_biodiversity_strategy_for_the_goulburn_broken_catchment" class="item1 odd level2">
    <a href="/land_and_biodiversity/biodiversity_strategy_for_the_goulburn_broken_catchment">Biodiversity Strategy for the Goulburn Broken Catchment</a>

  </li>
    <li id="mainMenu_gbcma_biodiversity_assets" class="item2 even level2">
      <a href="/land_and_biodiversity/biodiversity_assets">Assets</a>
      <ul class="level3">			<li id="mainMenu_gbcma_native_vegetation" class="item1 odd level3">
        <a href="/land_and_biodiversity/biodiversity_assets/native_vegetation">Native Vegetation</a>

      </li>
        <li id="mainMenu_gbcma_native_fauna" class="item2 even level3">
          <a href="/land_and_biodiversity/biodiversity_assets/native_fauna">Native Fauna</a>

        </li>
        <li id="mainMenu_gbcma_soil_biodiversity" class="item3 odd level3">
          <a href="/land_and_biodiversity/biodiversity_assets/soil_biodiversity">Soil Biodiversity</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_relevant_policy_legislation" class="item3 odd level2">
      <a href="/land_and_biodiversity/relevant_policy_legislation">Policy and Legislation</a>
      <ul class="level3">			<li id="mainMenu_gbcma_native_vegetation_strategy" class="item1 even level3">
        <a href="/land_and_biodiversity/relevant_policy_legislation/native_vegetation_strategy">Native Vegetation Strategy</a>

      </li>
        <li id="mainMenu_gbcma_biodiversity_integration_strategy" class="item2 odd level3">
          <a href="/land_and_biodiversity/relevant_policy_legislation/biodiversity_integration_strategy">Integration Strategy</a>

        </li>
        <li id="mainMenu_gbcma_victorian_biodiversity_strategy" class="item3 even level3">
          <a href="/land_and_biodiversity/relevant_policy_legislation/victorian_biodiversity_strategy">Victorian Biodiversity Strategy</a>

        </li>
        <li id="mainMenu_gbcma_native_vegetation_management_framework" class="item4 odd level3">
          <a href="/land_and_biodiversity/relevant_policy_legislation/native_vegetation_management_framework">Native Vegetation Management Framework</a>

        </li>
        <li id="mainMenu_gbcma_environment_protection_and_biodiversity" class="item5 even level3">
          <a href="/land_and_biodiversity/relevant_policy_legislation/environment_protection_and_biodiversity">Environment Protection and Biodiversity</a>

        </li>
        <li id="mainMenu_gbcma_flora_and_fauna_guarantee_act" class="item6 odd level3">
          <a href="/land_and_biodiversity/relevant_policy_legislation/flora_and_fauna_guarantee_act">Flora and Fauna Guarantee Act</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_current_projects_-_biodiversity" class="item4 even level2">
      <a href="/land_and_biodiversity/current_projects_-_biodiversity">Current Projects - Biodiversity</a>

    </li>
    <li id="mainMenu_gbcma_land_health" class="item5 odd level2">
      <a href="/land_and_biodiversity/land_health">Land Health</a>
      <ul class="level3">			<li id="mainMenu_gbcma_on_the_farm_-_the_good_dirt_-_jan_2012_-_june_2013" class="item1 even level3">
        <a href="/land_and_biodiversity/land_health/on_the_farm_-_the_good_dirt_-_jan_2012_-_june_2013">On the Farm - The Good Dirt - Jan 2012 - June 2013</a>

      </li>
        <li id="mainMenu_gbcma_current_projects_-_land_health_" class="item2 odd level3">
          <a href="/land_and_biodiversity/land_health/current_projects_-_land_health_">Land Health Current Projects</a>

        </li>
        <li id="mainMenu_gbcma_land_health_documents_and_resources" class="item3 even level3">
          <a href="/land_and_biodiversity/land_health/land_health_documents_and_resources">Land Health Documents and Resources</a>

        </li>
        <li id="mainMenu_gbcma_redefining_local_productivity" class="item4 odd level3">
          <a href="/land_and_biodiversity/land_health/redefining_local_productivity">Redefining local productivity</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_climate_change" class="item6 even level2">
      <a href="/land_and_biodiversity/climate_change">Climate Change</a>

    </li>
    <li id="mainMenu_gbcma_resources_publications" class="item7 odd level2">
      <a href="/land_and_biodiversity/resources_publications">Resources</a>
      <ul class="level3">			<li id="mainMenu_gbcma_general_principles_to_keep_in_mind" class="item1 even level3">
        <a href="/land_and_biodiversity/resources_publications/general_principles_to_keep_in_mind">General principles</a>

      </li>
        <li id="mainMenu_gbcma_a_wildlife_guide_for_landholders" class="item2 odd level3">
          <a href="/land_and_biodiversity/resources_publications/a_wildlife_guide_for_landholders">A Wildlife Guide for Landholders</a>

        </li>
        <li id="mainMenu_gbcma_bap" class="item3 even level3">
          <a href="/land_and_biodiversity/resources_publications/bap">Biodiversity Action Planning (BAP)</a>
          <ul class="level4">			<li id="mainMenu_gbcma_bap_barmah" class="item1 odd level4">
            <a href="/land_and_biodiversity/resources_publications/bap/bap_barmah">Barmah</a>
          </li>
            <li id="mainMenu_gbcma_bap_buxton" class="item2 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_buxton">Buxton</a>
            </li>
            <li id="mainMenu_gbcma_bap_central_creek" class="item3 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_central_creek">Central Creek</a>
            </li>
            <li id="mainMenu_gbcma_bap_chesney" class="item4 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_chesney">Chesney</a>
            </li>
            <li id="mainMenu_gbcma_bap_dookie" class="item5 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_dookie">Dookie</a>
            </li>
            <li id="mainMenu_gbcma_bap_eildon" class="item6 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_eildon">Eildon</a>
            </li>
            <li id="mainMenu_gbcma_bap_goldfields" class="item7 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_goldfields">Goldfields</a>
            </li>
            <li id="mainMenu_gbcma_bap_hughes_creek" class="item8 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_hughes_creek">Hughes Creek</a>
            </li>
            <li id="mainMenu_gbcma_bap_jamieson" class="item9 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_jamieson">Jamieson</a>
            </li>
            <li id="mainMenu_gbcma_bap_longwood" class="item10 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_longwood">Longwood</a>
            </li>
            <li id="mainMenu_gbcma_bap_samaria" class="item11 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_samaria">Samaria</a>
            </li>
            <li id="mainMenu_gbcma_bap_southern_goulburn" class="item12 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_southern_goulburn">Southern Goulburn</a>
            </li>
            <li id="mainMenu_gbcma_bap_strathbogie" class="item13 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_strathbogie">Strathbogie</a>
            </li>
            <li id="mainMenu_gbcma_bap_south_west_goulburn" class="item14 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_south_west_goulburn">South West Goulburn</a>
            </li>
            <li id="mainMenu_gbcma_bap_timmering" class="item15 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_timmering">Timmering</a>
            </li>
            <li id="mainMenu_gbcma_bap_tungamah" class="item16 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_tungamah">Tungamah</a>
            </li>
            <li id="mainMenu_gbcma_bap_violet_town" class="item17 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_violet_town">Violet Town</a>
            </li>
            <li id="mainMenu_gbcma_bap_western_goulburn" class="item18 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_western_goulburn">Western Goulburn</a>
            </li>
            <li id="mainMenu_gbcma_bap_yarrawonga" class="item19 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_yarrawonga">Yarrawonga</a>
            </li>
            <li id="mainMenu_gbcma_bap_yea" class="item20 even level4">
              <a href="/land_and_biodiversity/resources_publications/bap/bap_yea">Yea</a>
            </li>
            <li id="mainMenu_gbcma_additional_information" class="item21 odd level4">
              <a href="/land_and_biodiversity/resources_publications/bap/additional_information">Additional Information</a>
            </li>
          </ul>
        </li>
        <li id="mainMenu_gbcma_revegetation_guide_for_the_gbc" class="item4 odd level3">
          <a href="/land_and_biodiversity/resources_publications/revegetation_guide_for_the_gbc">Revegetation Guide</a>

        </li>
        <li id="mainMenu_gbcma_goulburn_broken_indigenous_seed_bank" class="item5 even level3">
          <a href="/land_and_biodiversity/resources_publications/goulburn_broken_indigenous_seed_bank">Indigenous Seed Bank</a>

        </li>
        <li id="mainMenu_gbcma_conservation_covenants" class="item6 odd level3">
          <a href="/land_and_biodiversity/resources_publications/conservation_covenants">Conservation Covenants</a>

        </li>
        <li id="mainMenu_gbcma_notes_information_series" class="item7 even level3">
          <a href="/land_and_biodiversity/resources_publications/notes_information_series">Notes Information Series</a>

        </li>
        <li id="mainMenu_gbcma_locally_native_plants" class="item8 odd level3">
          <a href="/land_and_biodiversity/resources_publications/locally_native_plants">Locally native plants suitable for gardening in the Shepparton Region</a>

        </li>
        <li id="mainMenu_gbcma_biodiversity_risk_mitigation_protocols_for_roadsides" class="item9 even level3">
          <a href="/land_and_biodiversity/resources_publications/biodiversity_risk_mitigation_protocols_for_roadsides">Biodiversity Risk Mitigation Protocols for Roadsides</a>

        </li>
        <li id="mainMenu_gbcma_bmap" class="item10 odd level3">
          <a href="/land_and_biodiversity/resources_publications/bmap">Biodiversity Monitoring Action Plan (BMAP)</a>

        </li>
      </ul>
    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_waterway_and_floodplain_management" class="item3 odd level1">
  <a href="/waterway_and_floodplain_management">Waterway and Floodplain Management</a>
  <ul class="level2">			<li id="mainMenu_gbcma_mansfield-planning-scheme-amendment-c15" class="item1 even level2">
    <a href="/waterway_and_floodplain_management/mansfield-planning-scheme-amendment-c15">Mansfield Planning Scheme Amendment C15</a>

  </li>
    <li id="mainMenu_gbcma_shepparton_east_flood_study" class="item2 odd level2">
      <a href="/waterway_and_floodplain_management/shepparton_east_flood_study">Shepparton East Flood Study</a>

    </li>
    <li id="mainMenu_gbcma_draft_goulburn_broken_waterway_strategy" class="item3 even level2">
      <a href="/waterway_and_floodplain_management/draft_goulburn_broken_waterway_strategy">Draft Goulburn Broken Waterway Strategy</a>

    </li>
    <li id="mainMenu_gbcma_program_implementation" class="item4 odd level2">
      <a href="/waterway_and_floodplain_management/program_implementation">Program Implementation</a>
      <ul class="level3">			<li id="mainMenu_gbcma_waterways_case_study" class="item1 even level3">
        <a href="/waterway_and_floodplain_management/program_implementation/waterways_case_study">Waterways: A Case Study</a>

      </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_program_priorities" class="item5 even level2">
      <a href="/waterway_and_floodplain_management/program_priorities">Program Priorities</a>
      <ul class="level3">			<li id="mainMenu_gbcma_environmental_water_reserve" class="item1 odd level3">
        <a href="/waterway_and_floodplain_management/program_priorities/environmental_water_reserve">Environmental Water Reserve</a>

      </li>
        <li id="mainMenu_gbcma_rivers_and_streams" class="item2 even level3">
          <a href="/waterway_and_floodplain_management/program_priorities/rivers_and_streams">Rivers and Streams</a>

        </li>
        <li id="mainMenu_gbcma_threatened_species" class="item3 odd level3">
          <a href="/waterway_and_floodplain_management/program_priorities/threatened_species">Threatened Species</a>

        </li>
        <li id="mainMenu_gbcma_water_quality" class="item4 even level3">
          <a href="/waterway_and_floodplain_management/program_priorities/water_quality">Water Quality</a>

        </li>
        <li id="mainMenu_gbcma_waterway_frontage" class="item5 odd level3">
          <a href="/waterway_and_floodplain_management/program_priorities/waterway_frontage">Waterway Frontage</a>

        </li>
        <li id="mainMenu_gbcma_wetlands" class="item6 even level3">
          <a href="/waterway_and_floodplain_management/program_priorities/wetlands">Wetlands</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_the_goulburn_river_large_scale_river_restoration_project" class="item6 odd level2">
      <a href="/waterway_and_floodplain_management/the_goulburn_river_large_scale_river_restoration_project">The Goulburn River Large Scale River Restoration Project</a>

    </li>
    <li id="mainMenu_gbcma_current_projects" class="item7 even level2">
      <a href="/waterway_and_floodplain_management/current_projects">Current Projects</a>

    </li>
    <li id="mainMenu_gbcma_the_king_parrot_creek_design_flow_estimates_report" class="item8 odd level2">
      <a href="/waterway_and_floodplain_management/the_king_parrot_creek_design_flow_estimates_report">The King Parrot Creek Design Flow Estimates Report</a>

    </li>
    <li id="mainMenu_gbcma_the_living_murray" class="item9 even level2">
      <a href="/waterway_and_floodplain_management/the_living_murray">Barmah Forest and The Living Murray</a>

    </li>
    <li id="mainMenu_gbcma_lake-mokoan" class="item10 odd level2">
      <a href="/waterway_and_floodplain_management/lake-mokoan">Lake Mokoan</a>

    </li>
    <li id="mainMenu_gbcma_floodplain_management" class="item11 even level2">
      <a href="/waterway_and_floodplain_management/floodplain_management">Floodplain Management</a>

    </li>
    <li id="mainMenu_gbcma_works_on_waterways" class="item12 odd level2">
      <a href="/waterway_and_floodplain_management/works_on_waterways">Works on Waterways</a>

    </li>
    <li id="mainMenu_gbcma_recreational_fishing" class="item13 even level2">
      <a href="/waterway_and_floodplain_management/recreational_fishing">Recreational Fishing</a>

    </li>
    <li id="mainMenu_gbcma_research" class="item14 odd level2">
      <a href="/waterway_and_floodplain_management/research">Research</a>
      <ul class="level3">			<li id="mainMenu_gbcma_healthy_rivers_healthy_communities_2004" class="item1 odd level3">
        <a href="/waterway_and_floodplain_management/research/healthy_rivers_healthy_communities_2004">Healthy Rivers Healthy Communities 2004</a>

      </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_fire_recovery" class="item15 even level2">
      <a href="/waterway_and_floodplain_management/fire_recovery">Fire Recovery 2009</a>
      <ul class="level3">			<li id="mainMenu_gbcma_assessment_of_fire_impacts" class="item1 even level3">
        <a href="/waterway_and_floodplain_management/fire_recovery/assessment_of_fire_impacts">Assessment of Fire Impacts</a>

      </li>
        <li id="mainMenu_gbcma_what_landholders_can_do_to_help" class="item2 odd level3">
          <a href="/waterway_and_floodplain_management/fire_recovery/what_landholders_can_do_to_help">What landholders can do to help</a>

        </li>
        <li id="mainMenu_gbcma_fire_resources" class="item3 even level3">
          <a href="/waterway_and_floodplain_management/fire_recovery/fire_resources">Resources and Links</a>

        </li>
      </ul>
    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_sustainable_irrigation" class="item4 even level1">
  <a href="/sustainable_irrigation">Sustainable Irrigation</a>
  <ul class="level2">			<li id="mainMenu_gbcma_farm_water" class="item1 odd level2">
    <a href="/sustainable_irrigation/farm_water">Farm Water Program</a>
    <ul class="level3">			<li id="mainMenu_gbcma_preparing_contracts" class="item1 odd level3">
      <a href="/sustainable_irrigation/farm_water/preparing_contracts">Preparing Contracts</a>

    </li>
      <li id="mainMenu_gbcma_irrigation_scheduling_projects" class="item2 even level3">
        <a href="/sustainable_irrigation/farm_water/irrigation_scheduling_projects">Irrigation Scheduling Projects</a>

      </li>
      <li id="mainMenu_gbcma_farm_water_contacts" class="item3 odd level3">
        <a href="/sustainable_irrigation/farm_water/farm_water_contacts">Contacts</a>

      </li>
    </ul>
  </li>
  </ul>
</li>
<li id="mainMenu_gbcma_community_advisory_committees" class="item5 odd level1">
  <a href="/community_advisory_committees">Community Advisory Committees</a>

</li>
<li id="mainMenu_gbcma_projects" class="item6 even level1">
  <a href="/projects">Current Projects</a>
  <ul class="level2">			<li id="mainMenu_gbcma_2013_-_2014_river_wetland_health_implementation_program" class="item1 even level2">
    <a href="/projects/2013_-_2014_river_wetland_health_implementation_program">2013 - 2014 River &amp; Wetland Health Implementation Program</a>

  </li>
    <li id="mainMenu_gbcma_fruit_industry_employment_program" class="item2 odd level2">
      <a href="/projects/fruit_industry_employment_program">Fruit Industry Employment Program</a>

    </li>
    <li id="mainMenu_gbcma_hooray_for_the_yea_river" class="item3 even level2">
      <a href="/projects/hooray_for_the_yea_river">Hooray for the Yea</a>

    </li>
    <li id="mainMenu_gbcma_hughes_creek" class="item4 odd level2">
      <a href="/projects/hughes_creek">Hughes Creek</a>

    </li>
    <li id="mainMenu_gbcma_hollands_creek_demonstration_reach" class="item5 even level2">
      <a href="/projects/hollands_creek_demonstration_reach">Holland's Creek Demonstration Reach</a>
      <ul class="level3">			<li id="mainMenu_gbcma_hollands_creek" class="item1 even level3">
        <a href="/projects/hollands_creek_demonstration_reach/hollands_creek">Hollands Creek</a>

      </li>
        <li id="mainMenu_gbcma_the_project" class="item2 odd level3">
          <a href="/projects/hollands_creek_demonstration_reach/the_project">The Project</a>

        </li>
        <li id="mainMenu_gbcma_project_assessment_recommendations" class="item3 even level3">
          <a href="/projects/hollands_creek_demonstration_reach/project_assessment_recommendations">Project Assessment &amp; Recommendations</a>

        </li>
        <li id="mainMenu_gbcma_outputs" class="item4 odd level3">
          <a href="/projects/hollands_creek_demonstration_reach/outputs">Outputs</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_acheron_river" class="item6 odd level2">
      <a href="/projects/acheron_river">Acheron River</a>

    </li>
    <li id="mainMenu_gbcma_king_parrot_creek" class="item7 even level2">
      <a href="/projects/king_parrot_creek">King Parrot Creek</a>

    </li>
    <li id="mainMenu_gbcma_cabomba_weed_of_national_significance" class="item8 odd level2">
      <a href="/projects/cabomba_weed_of_national_significance">Cabomba</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_publications" class="item7 odd level1">
  <a href="/publications">Publications</a>
  <ul class="level2">			<li id="mainMenu_gbcma_newsletters" class="item1 even level2">
    <a href="/publications/newsletters">Newsletters</a>

  </li>
    <li id="mainMenu_gbcma_published_documents" class="item2 odd level2">
      <a href="/publications/published_documents">Published Documents</a>
      <ul class="level3">			<li id="mainMenu_gbcma_annual_reports" class="item1 even level3">
        <a href="/publications/published_documents/annual_reports">Annual Reports</a>

      </li>
        <li id="mainMenu_gbcma_john-dainton-s-role-in-mending-the-goulburn-broken-by-john-northage" class="item2 odd level3">
          <a href="/publications/published_documents/john-dainton-s-role-in-mending-the-goulburn-broken-by-john-northage">John Dainton's Role in Mending the Goulburn Broken by John Northage</a>

        </li>
        <li id="mainMenu_gbcma_catchment_strategies" class="item3 even level3">
          <a href="/publications/published_documents/catchment_strategies">Regional Catchment Strategies</a>
          <ul class="level4">			<li id="mainMenu_gbcma_gb_strategy_sub-strategies" class="item1 even level4">
            <a href="/publications/published_documents/catchment_strategies/gb_strategy_sub-strategies">Goulburn Broken Regional Catchment Strategy</a>
          </li>
            <li id="mainMenu_gbcma_sir_catchment_strategy" class="item2 odd level4">
              <a href="/publications/published_documents/catchment_strategies/sir_catchment_strategy">Shepparton Irrigation Region Catchment Strategy</a>
            </li>
            <li id="mainMenu_gbcma_dls" class="item3 even level4">
              <a href="/publications/published_documents/catchment_strategies/dls">Dryland Landscape Strategy</a>
            </li>
          </ul>
        </li>
        <li id="mainMenu_gbcma_catchment_community_and_economy" class="item4 odd level3">
          <a href="/publications/published_documents/catchment_community_and_economy">Catchment Economy</a>

        </li>
        <li id="mainMenu_gbcma_biodiversity_pubs" class="item5 even level3">
          <a href="/publications/published_documents/biodiversity_pubs">Biodiversity</a>

        </li>
        <li id="mainMenu_gbcma_floodplain_and_drainage" class="item6 odd level3">
          <a href="/publications/published_documents/floodplain_and_drainage">Floodplain and Drainage</a>

        </li>
        <li id="mainMenu_gbcma_corporate_plan" class="item7 even level3">
          <a href="/publications/published_documents/corporate_plan">Corporate Plan</a>

        </li>
        <li id="mainMenu_gbcma_farmworks" class="item8 odd level3">
          <a href="/publications/published_documents/farmworks">Farmworks</a>

        </li>
        <li id="mainMenu_gbcma_monitoring_evaluation_reporting" class="item9 even level3">
          <a href="/publications/published_documents/monitoring_evaluation_reporting">Monitoring, Evaluation and Reporting Strategy</a>

        </li>
        <li id="mainMenu_gbcma_pest_plants_and_animals" class="item10 odd level3">
          <a href="/publications/published_documents/pest_plants_and_animals">Pest Plants and Animals</a>

        </li>
        <li id="mainMenu_gbcma_waterway_and_floodplain" class="item11 even level3">
          <a href="/publications/published_documents/waterway_and_floodplain">Waterway and Floodplain</a>

        </li>
        <li id="mainMenu_gbcma_dryland_salinity" class="item12 odd level3">
          <a href="/publications/published_documents/dryland_salinity">Dryland Salinity</a>

        </li>
        <li id="mainMenu_gbcma_irrigation_salinity" class="item13 even level3">
          <a href="/publications/published_documents/irrigation_salinity">Irrigation Salinity</a>

        </li>
        <li id="mainMenu_gbcma_soil_health_strategy" class="item14 odd level3">
          <a href="/publications/published_documents/soil_health_strategy">Soil Health Strategy</a>

        </li>
        <li id="mainMenu_gbcma_farm_water_program" class="item15 even level3">
          <a href="/publications/published_documents/farm_water_program">Farm Water Program</a>

        </li>
      </ul>
    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_jobs_tenders" class="item8 even level1">
  <a href="/jobs_tenders">Jobs &amp; Tenders</a>
  <ul class="level2">			<li id="mainMenu_gbcma_tenders" class="item1 even level2">
    <a href="/jobs_tenders/tenders">Tenders</a>

  </li>
    <li id="mainMenu_gbcma_positions_vacant" class="item2 odd level2">
      <a href="/jobs_tenders/positions_vacant">Positions Vacant</a>
      <ul class="level3">			<li id="mainMenu_gbcma_advice_for_applicants" class="item1 odd level3">
        <a href="/jobs_tenders/positions_vacant/advice_for_applicants">Advice for applicants</a>

      </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_other_positions_vacant_" class="item3 even level2">
      <a href="/jobs_tenders/other_positions_vacant_">Other Positions Vacant</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_news_events" class="item9 odd level1">
  <a href="/news_events">News &amp; Events</a>
  <ul class="level2">			<li id="mainMenu_gbcma_media-releases" class="item1 odd level2">
    <a href="/news_events/media-releases">All Media Releases</a>

  </li>
    <li id="mainMenu_gbcma_events-calendar" class="item2 even level2">
      <a href="/news_events/events-calendar">Events Calendar</a>
      <ul class="level3">			<li id="mainMenu_gbcma_organic-matters-forum-2014" class="item1 even level3">
        <a href="/news_events/events-calendar/organic-matters-forum-2014">Organic Matters Forum 2014</a>

      </li>
      </ul>
    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_funding_opportunities" class="item10 even level1">
  <a href="/funding_opportunities">Funding Opportunities</a>
  <ul class="level2">			<li id="mainMenu_gbcma_groups" class="item1 odd level2">
    <a href="/funding_opportunities/groups">Groups</a>
    <ul class="level3">			<li id="mainMenu_gbcma_eoi_form" class="item1 odd level3">
      <a href="/funding_opportunities/groups/eoi_form">Expression of Interest</a>

    </li>
      <li id="mainMenu_gbcma_general_criteria_for_assessment" class="item2 even level3">
        <a href="/funding_opportunities/groups/general_criteria_for_assessment">Funding Criteria</a>

      </li>
      <li id="mainMenu_gbcma_funding_agreements" class="item3 odd level3">
        <a href="/funding_opportunities/groups/funding_agreements">Funding Agreements</a>

      </li>
      <li id="mainMenu_gbcma_funding_types" class="item4 even level3">
        <a href="/funding_opportunities/groups/funding_types">Funding Types</a>

      </li>
      <li id="mainMenu_gbcma_projects_funded_in_2013-2014_via_the_eoi_process" class="item5 odd level3">
        <a href="/funding_opportunities/groups/projects_funded_in_2013-2014_via_the_eoi_process">Funded Community Group Projects 2013-2014</a>

      </li>
    </ul>
  </li>
    <li id="mainMenu_gbcma_other_funding" class="item2 even level2">
      <a href="/funding_opportunities/other_funding">Other Funding</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_landcare" class="item11 odd level1">
  <a href="/landcare">Landcare</a>
  <ul class="level2">			<li id="mainMenu_gbcma_celebrating_community_nrm_in_the_goulburn_broken_2014" class="item1 odd level2">
    <a href="/landcare/celebrating_community_nrm_in_the_goulburn_broken_2014">Celebrating Community NRM in the Goulburn Broken 2014</a>

  </li>
    <li id="mainMenu_gbcma_landcare_gateway_website" class="item2 even level2">
      <a href="http://www.landcarevic.net.au">Landcare Groups</a>

    </li>
    <li id="mainMenu_gbcma_local_area_planning" class="item3 odd level2">
      <a href="/landcare/local_area_planning">Local Area Planning</a>
      <ul class="level3">			<li id="mainMenu_gbcma_invergordon_district_local_area_plan" class="item1 even level3">
        <a href="/landcare/local_area_planning/invergordon_district_local_area_plan">Invergordon &amp; District Local Area Plan</a>

      </li>
        <li id="mainMenu_gbcma_muckatah_katamatite_naringaningalook_local_area_plan" class="item2 odd level3">
          <a href="/landcare/local_area_planning/muckatah_katamatite_naringaningalook_local_area_plan">Muckatah Katamatite Naringaningalook Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_nathalia_district_local_area_plan" class="item3 even level3">
          <a href="/landcare/local_area_planning/nathalia_district_local_area_plan">Nathalia &amp; District Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_bunbartha_kaarimba_zeerust_local_area_plan" class="item4 odd level3">
          <a href="/landcare/local_area_planning/bunbartha_kaarimba_zeerust_local_area_plan">Bunbartha, Kaarimba, Zeerust Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_wyuna_local_area_plan" class="item5 even level3">
          <a href="/landcare/local_area_planning/wyuna_local_area_plan">Wyuna Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_dhurringile_and_district_local_area_plan" class="item6 odd level3">
          <a href="/landcare/local_area_planning/dhurringile_and_district_local_area_plan">Dhurringile and District Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_cornella_local_area_plan" class="item7 even level3">
          <a href="/landcare/local_area_planning/cornella_local_area_plan">Cornella Local Area Plan</a>

        </li>
        <li id="mainMenu_gbcma_nanneella_and_district_local_area_plan" class="item8 odd level3">
          <a href="/landcare/local_area_planning/nanneella_and_district_local_area_plan">Nanneella and District Local Area Plan</a>

        </li>
      </ul>
    </li>
    <li id="mainMenu_gbcma_goulburn_broken_landcare_stories" class="item4 even level2">
      <a href="/landcare/goulburn_broken_landcare_stories">Goulburn Broken Landcare Stories</a>

    </li>
    <li id="mainMenu_gbcma_regional_landcare_facilitator" class="item5 odd level2">
      <a href="/landcare/regional_landcare_facilitator">Regional Landcare Facilitator</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_ispy_catchment_creatures" class="item12 even level1">
  <a href="/ispy_catchment_creatures">iSpy Catchment Creatures</a>

</li>
<li id="mainMenu_gbcma_links" class="item13 odd level1">
  <a href="/links">Links</a>
  <ul class="level2">			<li id="mainMenu_gbcma_other_cmas" class="item1 even level2">
    <a href="/links/other_cmas">Other CMAs</a>

  </li>
    <li id="mainMenu_gbcma_state_federal_agencies" class="item2 odd level2">
      <a href="/links/state_federal_agencies">State &amp; Federal Agencies</a>

    </li>
    <li id="mainMenu_gbcma_municipalities" class="item3 even level2">
      <a href="/links/municipalities">Municipalities</a>

    </li>
    <li id="mainMenu_gbcma_non-government_organisations" class="item4 odd level2">
      <a href="/links/non-government_organisations">Non-Government Organisations</a>

    </li>
    <li id="mainMenu_gbcma_community_partners" class="item5 even level2">
      <a href="/links/community_partners">Community Partners</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_contact_us" class="item14 even level1">
  <a href="/contact">Contact Us</a>
  <ul class="level2">			<li id="mainMenu_gbcma_map_shepp" class="item1 odd level2">
    <a href="/contact_us/map_shepp">Shepparton Office Map</a>

  </li>
    <li id="mainMenu_gbcma_map_yea" class="item2 even level2">
      <a href="/contact_us/map_yea">Yea Office Map</a>

    </li>
    <li id="mainMenu_gbcma_map_tatura" class="item3 odd level2">
      <a href="/contact_us/map_tatura">Tatura Ofice Map</a>

    </li>
  </ul>
</li>
<li id="mainMenu_gbcma_search_sitemap" class="item15 odd level1">
  <a href="/search">Search &amp; Sitemap</a>

</li>
<li id="mainMenu_gbcma_subscribe" class="item16 even level1">
  <a href="/subscribe">Subscribe</a>

</li>

</ul>
<script type="text/javascript">
    //Note: InitNav must be called after the menu HTML list is created.
    if (typeof InitNav == "function") {
        InitNav('MenuUL');
    }
</script>

</div></div>
<div id="ContentField_Article_gbcma_header_bottom"><div id="ContentField_Article_gbcma_header_bottomInner">
  <div id="CaringForOurCountry"><a href="http://nrm.gov.au/"><img src="/assets/logos/supporter_logo_cfoc.png" alt="Australian Government: Caring for our country"></a><a href="http://www.vic.gov.au/"><img src="/assets/logos/supporter_logo_vic.png" alt="State Government Victoria"></a></div>
</div></div>
</div></div>


<div id="SubHeader">
  <div id="SubHeaderInner">

    <div class="twoCols featureHeader">
      <div class="col1"><!-- Rotator -->
        <div id="Rotator_gbcma_homepagec_rotator_features" class="images_backgroundFill transition_slide nav_overlay nav_position_leftBottom rotator" style="height: 400px;">
          <div id="Rotator_gbcma_homepagec_rotator_featuresInner" class="images_backgroundFill transition_slide nav_overlay nav_position_leftBottom rotatorInner">
            <div id="RotatorNav_gbcma_homepagec_rotator_features" class="rotatorNav">
              <div id="RotatorNav_gbcma_homepagec_rotator_featuresInner" class="rotatorNavInner">
                <div class="rotatorLink item1 even">
                  <a href="#RotatorElement1">1</a>
                </div>
                <div class="rotatorLink item2 odd">
                  <a href="#RotatorElement2">2</a>
                </div>
                <div class="rotatorLink item3 even">
                  <a href="#RotatorElement3">3</a>
                </div>
                <div class="rotatorLink item4 odd">
                  <a href="#RotatorElement4">4</a>
                </div>
                <div class="rotatorLink item5 even">
                  <a href="#RotatorElement5">5</a>
                </div>
                <div class="rotatorLink item6 odd">
                  <a href="#RotatorElement6">6</a>
                </div>
                <div class="rotatorLink item7 even">
                  <a href="#RotatorElement7">7</a>
                </div>

              </div>
            </div>
            <div id="RotatorElements_gbcma_homepagec_rotator_features" class="rotatorElements">
              <div id="RotatorElements_gbcma_homepagec_rotator_featuresInner" class="rotatorElementsInner">
                <div id="RotatorElement1" class="rotatorElement item1 odd" style="background-image: url('/assets/home/banners/h-header1.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header1.jpg" alt="/assets/home/banners/h-header1.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement2" class="rotatorElement item2 odd" style="background-image: url('/assets/home/banners/h-header2.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header2.jpg" alt="/assets/home/banners/h-header2.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement3" class="rotatorElement item3 odd" style="background-image: url('/assets/home/banners/h-header3.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header3.jpg" alt="/assets/home/banners/h-header3.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement4" class="rotatorElement item4 odd" style="background-image: url('/assets/home/banners/h-header4.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header4.jpg" alt="/assets/home/banners/h-header4.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement5" class="rotatorElement item5 odd" style="background-image: url('/assets/home/banners/h-header5.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header5.jpg" alt="/assets/home/banners/h-header5.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement6" class="rotatorElement item6 odd" style="background-image: url('/assets/home/banners/h-header6.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header6.jpg" alt="/assets/home/banners/h-header6.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>
                <div id="RotatorElement7" class="rotatorElement item7 odd" style="background-image: url('/assets/home/banners/h-header7.jpg');">


                  <div class="pageFragment even">
                    <div class="pageFragmentInner">

                      <div class="thumbnail">
                        <img src="/assets/home/banners/h-header7.jpg" alt="/assets/home/banners/h-header7.jpg"/>
                      </div>


                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col2">
        <h4>WHO WE ARE</h4>

        <p class="highlightText1">The <strong>Goulburn Broken Catchment Management Authority</strong> is the peak
          natural resource management body in the catchment to develop and oversee the implementation of the Regional
          Catchment Strategy.</p>

        <p class="highlightText2">We work to ensure land and water resources are protected and enhanced as well as
          improving the region's social wellbeing, environmental quality and productive capacity in a sustainable
          manner. <a href="/about_us" class="readMore">Read more...</a></p>
      </div>
    </div>

  </div>
</div>



<div id="Content"><div id="ContentInner">

<div id="Page"><div id="PageInner">

<div id="TrailNav"><div id="TrailNavInner">
  <a class="homeLink" href="/">Home</a><span class="separator">&nbsp;:&nbsp;</span>
</div></div><div id="PageFunctionsTop"><div id="PageFunctionsTopInner">
  <ul>


    <li class="pagePrint currentBranch currentPage">
      <a href="" onclick="PrintPage();return false;" title="Print Page">Print Page</a>
    </li>


    <li class="pageEmail">
      <a href="/email/?ContentID=gbcma_home_first" title="Email Page">Email Page</a>
    </li>


    <li class="pageShare">
      <span class="st_sharethis" displaytext="">Share Page</span>
    </li>



    <li class="pageTextSizeDecrease">
      <a href="javascript:TextSize('-');" title="Smaller Text">Smaller Text</a>
    </li>
    <li class="pageTextSizeIncrease last">
      <a href="javascript:TextSize('+');" title="Larger Text">Larger Text</a>
    </li>

  </ul>

</div></div>

<div id="PageContent"><div id="PageContentInner">


  <div id="Primary"><div id="PrimaryInner">
    <div id="PrimaryContent"><div id="PrimaryContentInner">

      <h1 id="PageTitle">
        Home
      </h1>












      <div id="PageBody">
        <div id="SubArticles"><div id="SubArticlesInner">
          <div class="article  page_fragment even blueBoxFeature">
            <div class="thumbnail">
              <a href="/sustainable_irrigation/farm_water"><img src="/assets/home/feature_boxes/farmwater2.jpg" alt=""></a>
            </div>
            <div class="text">
              <h3 class="title">
                <a href="/sustainable_irrigation/farm_water">Farm Water Program</a>
              </h3>

              <p class="summary">
                Find out more about on-farm water efficiency works.
                <a href="/sustainable_irrigation/farm_water">Click here...</a>
              </p>
            </div>
          </div><div class="article  page_fragment odd blueBoxFeature">
          <div class="thumbnail">
            <a href="/waterway_and_floodplain_management"><img src="/assets/home/feature_boxes/floodplains.jpg" alt=""></a>
          </div>
          <div class="text">
            <h3 class="title">
              <a href="/waterway_and_floodplain_management">Floodplains &amp; Waterways</a>
            </h3>

            <p class="summary">
              Obtain information and application forms for <a href="/waterway_and_floodplain_management/floodplain_management">floodplain advice</a> and <a href="/waterway_and_floodplain_management/works_on_waterways">working on waterways</a>.
            </p>
          </div>
        </div><div class="article  page_fragment even blueBoxFeature">
          <div class="thumbnail">
            <a href="http://www.floodvictoria.vic.gov.au/"><img src="/assets/home/feature_boxes/flood-victoria.png" alt=""></a>
          </div>
          <div class="text">
            <h3 class="title">
              <a href="http://www.floodvictoria.vic.gov.au/">Flood Victoria</a>
            </h3>

            <p class="summary">
              The GB CMA has developed the <strong><a href="http://www.floodvictoria.vic.gov.au" target="_blank">Flood Victoria website</a></strong> to provide links to information about <strong>flood relief and advice</strong> in Victoria.
            </p>
          </div>
        </div><div class="article  page_fragment odd blueBoxTile">
          <div class="thumbnail">
            <a href="http://weconnect.gbcma.vic.gov.au/"><img src="/assets/home/feature_boxes/weconnect-rcs-sq.jpg" alt=""></a>
          </div>
          <div class="text">
            <h3 class="title">
              <a href="http://weconnect.gbcma.vic.gov.au/">WeConnect - Regional Catchment Strategy</a>
            </h3>


          </div>
        </div><div class="article  page_fragment even blueBoxTile">
          <div class="thumbnail">
            <a href="/waterway_and_floodplain_management/draft_goulburn_broken_waterway_strategy"><img src="/assets/home/feature_boxes/weconnect-wws-sq.jpg" alt=""></a>
          </div>
          <div class="text">
            <h3 class="title">
              <a href="/waterway_and_floodplain_management/draft_goulburn_broken_waterway_strategy">Draft Regional Waterway Strategy 2013 - 2021</a>
            </h3>


          </div>
        </div><div class="article  page_fragment odd blueBoxTile">
          <div class="thumbnail">
            <a href="/ispy_catchment_creatures"><img src="/assets/home/feature_boxes/ispy-sq.jpg" alt=""></a>
          </div>
          <div class="text">
            <h3 class="title">
              <a href="/ispy_catchment_creatures">iSpy Catchment Creatures - iFrogs</a>
            </h3>


          </div>
        </div>
        </div></div>
      </div>





    </div></div>

  </div></div>



  <div id="Secondary"><div id="SecondaryInner">
    <div id="SecondaryContent"><div id="SecondaryContentInner">



      <div class="twoCols">
        <div class="col1">
          <h2>CURRENT ISSUES</h2>
          <h3><a href="/browse.aspx?ContainerID=draft_goulburn_broken_waterway_strategy">View the Draft Goulburn Broken Regional Waterway Strategy</a></h3>
          <p>The draft strategy is available for public consultation until March 10, 2014.</p>
          <h3><a href="/browse.aspx?ContainerID=funding_opportunities">Funding for Natural Resource Management Activities - Groups and Organisations</a><a href="/downloads/biodiversity%20springs/2013biospring_calendar_%285%29.pdf"></a></h3>
          <p>The deadline for the Goulburn Broken Catchment Management Authority (CMA) annual Expression of Interest (EoI) process has been extended to February 26. A general call for Expressions of Interest (EOI) for natural resource management projects is currently being made across the Goulburn Broken region for 2014-15 funding.</p>
          <h3><a href="/downloads/Current_Issues/All_works_EOI_brochure.pdf">Grants available</a></h3>
          <p>Grants are available to help landholders with fencing, revegetation, and alternative watering points to protect wetlands, native vegetation, fauna and flora and water frontages.</p>
          <h3><a href="/browse.aspx?ContainerID=the_king_parrot_creek_design_flow_estimates_report">King Parrot Creek Flood Mapping Project</a></h3>
          <p>The Goulburn Broken CMA and Murrindindi Shire Council are undertaking new flood mapping along King Parrot Creek.</p>
        </div>
        <div class="col2"><!-- Latest Updates --><div id="LatestUpdates_gbcma_pages" class="latestUpdates"><div id="LatestUpdates_gbcma_pagesInner" class="latestUpdatesInner">
          <div class="header"><div class="headerInner">
            <h2>NEWS &amp; UPDATES</h2>
          </div></div><div class="content"><div class="contentInner">
          <div class="article  web_page odd">

            <div class="text">
              <h3 class="title">
                <a href="/news_events/digging-the-dirt-on-organic-material.html">Digging the dirt on organic material</a>
              </h3>

              <p class="summary">
                A free forum detailing the ins and outs of using organic material on farm will be a great way for landholders to improve their understanding of the opportunities and challenges of using... <a href="/news_events/digging-the-dirt-on-organic-material.html" class="readMore">Read More...</a>
              </p>
            </div>
          </div><div class="article  web_page even">

          <div class="text">
            <h3 class="title">
              <a href="/news_events/celebrate-biodiversity-spring-in-the-goulburn-broken-and-north-east.html">Celebrate Biodiversity Spring in the Goulburn-Broken and North-East</a>
            </h3>

            <p class="summary">
              Biodiversity Spring 2014 is a celebration of all the things that make up our natural environment  the flora and fauna to the fungi and the habitats they live in. <a href="/news_events/celebrate-biodiversity-spring-in-the-goulburn-broken-and-north-east.html" class="readMore">Read More...</a>
            </p>
          </div>
        </div><div class="article  web_page odd">

          <div class="text">
            <h3 class="title">
              <a href="/news_events/water-table-study-will-monitor-more-than-1600-observation-bores.html">Water Table Study will monitor more than 1600 observation bores</a>
            </h3>
            <div class="date">
              Monday 18 August 2014
            </div>
            <p class="summary">
              More than 1600 observation bores across the Shepparton Irrigation Region will be monitored in the coming weeks during Goulburn-Murray Waters (GMW) annual water table study. <a href="/news_events/water-table-study-will-monitor-more-than-1600-observation-bores.html" class="readMore">Read More...</a>
            </p>
          </div>
        </div>
        </div></div><div class="footer"><div class="footerInner">
          <p><a href="/news_events" class="readMore">All news...</a></p>
        </div></div>
        </div></div>
          <h4>QUICK LINKS</h4>
          <ul class="links">
            <li><a href="/news_events/ken-sampson-memorial-fairley-leadership.html">Ken Sampson Memorial Fairley Leadership Program Scholarship</a></li>
            <li><a href="/downloads/FloodplainManagement/Corop_Lakes_Flood_Scoping_Study-Final_Report-_September_2012-_GBCMA.pdf">Corop Lakes Flood Scoping Study - Final Report</a></li>
            <li><a href="http://www.landcarevic.net.au/resources/funding/landcare-community-grants-guide/view?searchterm=Landcare+community+grants+guide+" target="_blank">Landcare Community Grants Guide</a></li>
            <li><a href="http://www.greatershepparton.com.au/residents/emergency/floods/floodcharts/" target="_blank">Greater Shepparton Property Specific Flood Charts</a></li>
            <li><a href="http://www.sampsonleadershiptrust.com.au/">Sampson Leadership Trust Scholarships</a></li>
          </ul>
        </div>
      </div>





    </div></div>
  </div></div>


</div></div>



</div></div>

</div></div>



<div id="Footer"><div id="FooterInner">
  <div id="FooterTop">
    <div id="FooterHelp"> <a href="/contact">Need help? <span>Contact us</span></a> </div>
    <div id="FooterLocations">
      <div class="address">
        <p> <strong>Shepparton</strong><br>
          168 Welsford Street<br>
          PO Box 1752,<br>
          Shepparton VIC 3630<br>
          <strong>T</strong> (03) 5820 1100<br>
          <strong>F</strong> (03) 5831 6254 </p>
      </div>
      <div class="address">
        <p> <strong>Tatura</strong><br>
          Ferguson Road<br>
          Private Bag 1, <br>
          Tatura VIC 3616 <br>
          <strong>T</strong> (03) 5833 5222<br>
          <strong>F</strong> (03) 5833 5971 </p>
      </div>
      <div class="address">
        <p> <strong>Benalla</strong> <br>
          89 Sydney Road<br>
          PO Box 124, <br>
          Benalla VIC 3672 <br>
          <strong>T</strong> (03) 5761 1611<br>
          <strong>F</strong> (03) 5761 1547 </p>
      </div>
      <div class="address last">
        <p> <strong>Yea</strong> <br>
          5/10 High Street <br>
          Yea VIC 3717, <br>
          <strong>T</strong> (03) 5736 0100<br>
          <strong>F</strong> (03) 5797 3199 </p>
      </div>
    </div>
    <div id="FooterSocialLinks">
      <div class="socialIntro">Follow us on:</div>
      <div><ul class="socialIcons">
        <li class="icon-facebook"><a title="Get connected" class="facebook" href="http://facebook.com/gbcma">Facebook</a></li>
        <li class="icon-twitter last"><a title="Get our tweets" class="twitter" href="http://twitter.com/gbcma">Twitter</a></li>
        <li class="icon-mail"><a title="Get in touch with us" class="mail" href="/contact">Contact</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div id="FooterBottom">
    <div id="FooterMenu">
      <ul>
        <li class="first currentBranch currentPage"><a href="/">Home</a></li>




      </ul>
    </div>
    <div id="Rights">
      <div id="FooterCopyright">
         Copyright 2014 GB CMA
      </div>
      <div id="FooterLinks">
        <a href="/search">Sitemap</a><span>|</span>
        <a href="/siteinfo/accessibility">Accessibility Info</a><span>|</span>
        <a href="/siteinfo/privacy_policy">Privacy Policy</a><span>|</span>
        <a href="http://www.ddsn.com" target="_blank" class="mws">Website by DDSN Interactive</a>
      </div>
      <div id="FooterLogo">
        <img src="/assets/images/footer-logo.png">
      </div>
    </div>

    <div id="CreditsCMS">
      <a id="AcoraCmsLink" href="http://www.cm3cms.com/" target="_blank">Content management system (powered by) by cm3 Acora CMS</a>
    </div>
    <div id="CreditsDesign">
      <a id="DDSNLink" href="http://www.ddsn.com" target="_blank" title="Web Site Design, Web Hosting, Web Development, Melbourne, Sydney, Australia, by DDSN Interactive">Website design by DDSN Interactive</a>
    </div>
  </div>
</div></div>


</div></div>

</div></div>







<!-- Page End -->



<div class="aspNetHidden">

  <input type="hidden" name="__PREVIOUSPAGE" id="__PREVIOUSPAGE" value="pXo_SFa5QknAYk03nJ7NYPaJJ77a2tApyHbHvJtKj0_QJK5j3XVQ8x247AAnTNn3bQpcZdeWR0hRAW67s5CSIGNFrQ0vX6zX72PxQCLfPGA1">
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBQKS/dygBwKv9LWOBAL4+N+0AgLCzu68BwLflIHwBEOalufkVAf0OXzs8etsk7ktSfOEZs/RgrAEFzokx0zL">
</div></form>

<div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1347</span> x <span class="tooltipHeight" id="winHeight">1054</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1347</span> x <span class="tooltipHeight" id="vpHeight">360</span></div></body></html>